<h1>Listing diagnostiqueurs</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Raison sociale</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @diagnostiqueurs.each do |diagnostiqueur| %>
      <tr>
        <td><%= diagnostiqueur.nom %></td>
        <td><%= diagnostiqueur.prenom %></td>
        <td><%= diagnostiqueur.raison_sociale %></td>
        
        <td><%= link_to 'Show', diagnostiqueur %></td>
        <td><%= link_to 'Edit', edit_diagnostiqueur_path(diagnostiqueur) %></td>
        <td><%= link_to 'Destroy', diagnostiqueur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diagnostiqueur', new_diagnostiqueur_path %>
