<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @diagnostiqueur.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @diagnostiqueur.prenom %>
</p>

<p>
  <strong>Raison sociale:</strong>
  <%= @diagnostiqueur.raison_sociale %>
</p>

<p>
  <strong>Num certif:</strong>
  <%= @diagnostiqueur.num_certif %>
</p>

<p>
  <strong>Validite certif:</strong>
  <%= @diagnostiqueur.validite_certif %>
</p>

<p>
  <strong>Obtention certif:</strong>
  <%= @diagnostiqueur.obtention_certif %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @diagnostiqueur.adresse %>
</p>

<p>
  <strong>Code postal:</strong>
  <%= @diagnostiqueur.code_postal %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @diagnostiqueur.tel %>
</p>

<p>
  <strong>Email:</strong>
  <%= @diagnostiqueur.email %>
</p>

<p>
  <strong>Num tva:</strong>
  <%= @diagnostiqueur.num_tva %>
</p>

<p>
  <strong>Siret:</strong>
  <%= @diagnostiqueur.siret %>
</p>

<p>
  <strong>Nom assureur:</strong>
  <%= @diagnostiqueur.nom_assureur %>
</p>

<p>
  <strong>Coordonnees assureur:</strong>
  <%= @diagnostiqueur.coordonnees_assureur %>
</p>

<p>
  <strong>Num assurance:</strong>
  <%= @diagnostiqueur.num_assurance %>
</p>

<p>
  <strong>Validite assurance:</strong>
  <%= @diagnostiqueur.validite_assurance %>
</p>

<%= link_to 'Edit', edit_diagnostiqueur_path(@diagnostiqueur) %> |
<%= link_to 'Back', diagnostiqueurs_path %>
