<h1>Batiment</h1>
<p>
  <strong>Adresse:</strong>
  <%= @batiment.adresse %>
</p>
<p>
  <strong>Désignation et situation du ou des lots de copropriété:</strong>
  <%= @batiment.designation %>
</p>
<p>
  <strong>Code postal:</strong>
  <%= @batiment.code_postal %>
</p>
<p>
  <strong>Commune:</strong>
  <%= @batiment.commune %>
</p>
<h2>Pieces</h2>



<%= link_to "Retour",batiments_path %>
<%= link_to "Modifier", edit_batiment_path(@batiment) %>