<h1>Batiment</h1>
<p>
  <strong>Adresse:</strong>
  <%= @batiment.adresse %>
</p>
<p>
  <strong>Désignation et situation du ou des lots de copropriété:</strong>
  <%= @batiment.designation %>
</p>
<p>
  <strong>Code postal:</strong>
  <%= @batiment.code_postal %>
</p>
<p>
  <strong>Commune:</strong>
  <%= @batiment.commune %>
</p>
<h2>Pièces</h2>

<table class="table table-striped">
 	<tr>
   	<th>Pièce</th>
  </tr>

  <% @batiment.pieces.each do |piece| %>
		<tr>
		  <td> <%= piece.nom %> <%= piece.numero %> </td>
		  <td><%= link_to 'Voir', piece %> </td>      
    </tr>
  <% end %>
</table>	



<h2>Ajouter une Pièce</h2>
<%= render 'pieces/form' %>

<%= link_to "Retour",batiments_path %>
<%= link_to "Modifier", edit_batiment_path(@batiment) %>