<h1>Pièce</h1>

<table class="table table-striped">
 	<tr>
   	<th>Pièce</th>
  </tr>

  <% @batiment.pieces.each do |piece| %>
		<tr>
		  <td> <%= piece.nom %> <%= piece.numero %> </td>
			<td><%= link_to 'Voir', batiment_piece_path(@batiment, piece) %> </td>
      <td><%= link_to 'Modifier', edit_batiment_piece_path(@batiment, piece) %> </td>
      <td><%= link_to 'Supprimer', batiment_piece_path(@batiment, piece), method: :delete, data: { confirm: 'Êtes-vous sûr?'} %></td>
    </tr>
  <% end %>
</table>	
<%= link_to 'Nouvelle Pièce', new_batiment_piece_path(@batiment) %>
