<h2>Liste des missions réalisées par <%= @missions.first.diagnostiqueur.prenom %> <%= @missions.first.diagnostiqueur.nom %> de <%= @missions.first.diagnostiqueur.raison_sociale %></h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Num dossier</th>
      <th>Date reperage</th>
      
      <th>Top amiante</th>
      <th>Adresse</th>
      <th>Perimetre reperage</th>
      <th>Dateheure visite</th>
      <th>Deadline rapport</th>
      <th>Date emission rapport</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @missions.each do |mission| %>
      <tr>
        <td><%= mission.num_dossier %></td>
        <td><%= mission.date_reperage %></td>
        
        <td><%= mission.top_amiante %></td>
        <td><%= mission.batiment.adresse %> <%= mission.batiment.code_postal %> </td>
        <td><%= mission.perimetre_reperage %></td>
        <td><%= mission.dateheure_visite %></td>
        <td><%= mission.deadline_rapport %></td>
        <td><%= mission.date_emission_rapport %></td>
        <td><%= link_to 'Show', diagnostiqueur_mission_path(mission.diagnostiqueur,mission) %></td>
        <td><%= link_to 'Edit', edit_diagnostiqueur_mission_path(mission.diagnostiqueur,mission) %></td>
        <td><%= link_to 'Destroy', diagnostiqueur_mission_path(mission.diagnostiqueur,mission), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mission', new_diagnostiqueur_mission_path %>
